@media (max-width:676px){
    .column-mobile{
        padding-right: 0;
    }
}

.post-title {
    font-size: 1.125rem;
    font-weight: 800;
    border-bottom: 3px dotted #c8d6e5;
}

.rating {
    font-size: 0.8rem;
}

.star {
    color: #feca57;
}

.user {
    color: #01A3A4;
    font-weight: 800;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 5px;
}

.ammount {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.item-container {
    cursor: pointer;
    box-shadow: 0 0 0 0;
    background: #eff3f7;
}

.item-container:hover {
    background: white;
}