.unselected {
    background: #c8d6e5;
}

.selected {
    background: #01A3A4;
}

.servicesCont {
    margin-top: 10px;
}

.service {
    text-align: center;
    font-weight: 700;
    color: white;
    font-size: 0.75rem;
    margin: 15px;
    padding: 3px;
    border-radius: 6px;
}