.unselected {
  background: #c8d6e5;
}

.selected {
  background: #01a3a4;
}

.service {
  text-align: center;
  font-weight: 700;
  color: white;
  font-size: 0.75rem;
  margin: 1rem;
  margin-top: 0;
  padding: 3px;
  border-radius: 6px;
}
