@media (max-width: 767px) {
  .custom-columns {
    flex-direction: column-reverse;
    display: flex;
  }

  .form-title{
    margin-top: 10px;
    margin-left: 20px;
  }

  .bottom-border{
    border-bottom: 3px dotted #c8d6e5;
  }

  .profile-body {
    margin: 30px;
    margin-top: 45px;
  }

}

@media (min-width: 767px){
  .right-border{
    border-right: 3px dotted #c8d6e5;
  }
  
  .form-label  {
    flex-grow: 2; /* overwrites previous value of 1 */
    line-height: 2.1rem;
  }
}

.main{
  margin-top: 20px;
}

.input-is-read-only {
  border-color: transparent;
}

.avatar {
  width: 80px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

.avatar img {
  display: block;
  border-radius: 50%;
  position: absolute;
}

.rate {
  padding-right: 0.5rem;
  font-weight: 800;;
}

.separate{
  margin-bottom: 20px;
}

.profile-column{
  margin: 20px;
  margin-top: 10px;
}

.input-text{
  font-size: 1rem;
}

.rate-stars{
  color: #feca57;
}

.username{
  font-size: 1.125rem;
  font-weight: 800;
  color: #576574;
}





