@media (max-width: 767px) {
  .custom-columns {
    flex-direction: column-reverse;
    display: flex;
  }
}

@media screen and (min-width: 767px), print {
  .form-label  {
    flex-grow: 2; /* overwrites previous value of 1 */
  }
}

.main{
  margin-top: 20px;
}

.input-is-read-only {
  border-color: transparent;
}

.avatar {
  width: 80px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

.avatar img {
  display: block;
  border-radius: 50%;
  position: absolute;
}

.rate {
  padding-right: 0.5rem;
}

.separate{
  margin-bottom: 20px;
}

.profile-column{
  vertical-align: middle;
  margin: 20px;
}