.navbar-item {
  display: flex;
  align-items: center;
}
.navbar .container {
  display: flex;
}

.navbar,
.navbar-menu,
.navbar-end {
  align-items: stretch;
  display: flex;
  padding: 0;
  box-shadow: 0 0 0 0;
}

.navbar-menu {
  flex-grow: 1;
  flex-shrink: 0;
}

.navbar-end {
  justify-content: flex-end;
  margin-left: auto;
}

.logo {
  padding: 1rem 1.5rem;
}

.logo img {
  transform: scale(1.5);
}

.navbar-breadcrumbs {
  padding: 1.5rem 1.5rem;
}

.navbar-breadcrumbs a {
  color: #01a3a4;
}

.button.is-rounded {
  padding-left: calc(0.05em + 0.25em);
  padding-right: calc(0.05em + 0.25em);
}

.user-icon {
  align-content: right;
  padding: 1rem 1.5rem;
}

.icon {
  text-align: right;
}

.user-icon-color {
  color: lightgrey;
}

.navbar-icon {
  padding: 0 !important; /* Dont use important! ;) */
}
