.navbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 1rem 1.5rem;
}

.logo img {
  transform: scale(1.5);
}

.button.is-rounded {
  padding-left: calc(0.05em + 0.25em);
  padding-right: calc(0.05em + 0.25em);
}

.user-icon {
  padding: 1rem 1.5rem;
}

.user-icon-color {
  color: lightgrey;
}
