@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,800,900&display=swap');


*{
    font-family: Nunito, sans-serif;
}

.navbar-text {
    color: darkgrey !important;
    font-weight: 700;
}
