.search-banner {
  background-color: #faca57;
}

.hero.is-small .hero-body {
  margin-top: 3rem;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
}

.search {
  padding-bottom: 0.5rem;
}

.search img {
  width: 70%;
}

.search-banner-subtitle {
  color: #24303d;
  font-family: Nunito;
  font-weight: 800;
  font-size: 48px;
}

.control {
  text-align: center;
}

.search-field {
  padding-bottom: 1rem;
}

.search-field input {
  width: 100%;
}

.search-button{
  background-color: #ff9f43;
  font-family: Nunito, sans-serif;
  font-weight: 700;
  color: white;
  border-width: 0;
}

.search-button:hover{
  color: #feca57;
}
