@media (max-width: 767px) {
  .search-field {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.search-banner {
  background-color: #faca57;
  margin-top: 60px;
}

.search img {
  width: 70%;
  vertical-align: bottom;
}

.search-banner-subtitle {
  color: #24303d;
  font-weight: 800;
  font-size: 2.2rem;
}

.search-control {
  text-align: center;
}

.search-field input {
  width: 100%;
}

.search-button {
  background-color: #ff9f43;
  font-weight: 700;
  color: white;
  border-width: 0;
}

.search-button:hover {
  color: #feca57;
}
