.search-banner {
  background-color: #498291;
}

.search-banner-container {
  text-align: center;
}

.search-banner-subtitle {
  color: white;
}

.search-field {
  display: flex;
  justify-content: center;
}
